@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=MuseoModerno:ital,wght@0,300;1,300&display=swap');

:root{
  --background-color: #31363F;
  --second-color: #222831;
  --title-color: #76ABAE;
  --light-color: #EEEEEE;
  --font-title: "Jura", sans-serif;
  --font-body: 'Courier New', Courier, monospace;
  --body-font-size: 0.9375rem;
  --table-font-size: 0.75rem;
  --input-font-size: 0.75rem;
  --title-font-size: 3rem;
  --spacing-top: 0.2em; /* 12px*/
  --spacing-input: 0.8em; /* 9px*/
  --input-width: 100%; /* 320px */
  --button-width: 5rem;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-color);
}

.content {
  width: 50vw;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
}

#content-title{
  border-right: 1px solid var(--title-color);
  margin: 0 auto var(--spacing-top);
  color: var(--title-color);
  font-family:  var(--font-body);
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--title-font-size);
}

.typing-animation{
  animation: blinkCursor 1s steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 12.5em;
  }

}

@keyframes blinkCursor{
  from {
    border-right-color: var(--title-color);
  }
  to {
    border-right-color: transparent;
  }
}


table, td, th {
  border: 1px solid #aaa;
  background-color: var(--light-color);
  font-family: var(--font-body);
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: center;
  padding: 5px;
  font-size: var(--body-font-size);
}

th{
  font-size: var(--table-font-size);
  padding: var(--spacing-top);
}

.first{
  text-align: justify;
}

.last{
  padding: 0;
}

.form {
  margin: var(--spacing-input) auto 0;
  width: var(--input-width);
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}
.nova-tarefa, #content, #observa, .nova-tarefa-2{
  padding: var(--spacing-top);
  border: none;
  background-color: var(--second-color);
  color: var(--light-color);

}

#content {
  width: 25vw;
  height: 30px;
  font-family: var(--font-body);
  font-size: var(--input-font-size);
  padding-left: 10px;
}

#observa {
  width: 25vw;
  height: 90px;
  font-family: var(--font-body);
  font-size: var(--input-font-size);
  padding-left: 10px;
}

.nova-tarefa{
cursor: pointer;
font-weight: 700;
shape-outside: circle();
clip-path: circle();
width: 3rem;
}

nav, .inicial {
  font-family: var(--font-body);
  color: var(--light-color );
  text-transform: uppercase;
  text-align: center;
}
.inicial {
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0.25em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin: auto;
  width: 25vw;
  font-size: 10px;
}

.nav-link{
  color: var(--title-color);
  text-shadow: -1px 0px 1px var(--light-color);
}

nav{
  background-color: var(--second-color);
  width: 100%;
  font-size: 12px;
  padding: 8px 0 5px;
  color:  var(--light-color);
}
a {
  text-decoration: none;

}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 1rem;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  /* margin: 0 auto; */
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.flashes {
  padding: 12px;
  border-radius: 3px;
  background-color: darkkhaki;
  color: black;
  margin-bottom: 16px;
  opacity: 0.5;
}

.btn_close {
  margin-left: 20px;
  font-weight: bold;
  line-height: 15px;
  color: black;
  float: right;
}
