@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=MuseoModerno:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
  --background-color: #31363F;
  --second-color: #222831;
  --title-color: #76ABAE;
  --light-color: #EEEEEE;
  --font-title: "Rozha One", serif;
  --font-body: "Ubuntu Mono", monospace;
  --body-font-size: 1em;
  --table-font-size: 0.5em;
  --input-font-size: 0.9rem;
  --title-font-size: 0.5em;
  --spacing-top: 0.2rem; /* 12px*/
  --spacing-input: 0.8rem; /* 9px*/
  --input-width: 100%; /* 320px */
  --button-width: 5rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--background-color);
  font-size: var(--body-font-size);
}

nav{
  background-color: var(--second-color);
  width: 100%;
  font-size: 12px;
  padding: 20px 0 5px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
a {
  text-decoration: none;
}

table, td, th {
  border: 2px solid var(--background-color);
  background-color: var(--second-color);
  font-family: var(--font-body);
  color: var(--light-color);
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 50%;
}

td {
  text-align: center;
  padding: 5px;
  font-size: var(--body-font-size);
}

th{
  font-size: var(--table-font-size);
  padding: var(--spacing-top);
  text-transform: uppercase;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

input{
  border: none;
  border-radius: 20px;
}

label{
padding: 5px;
}

.content {
  width: 90vw;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-around;
}

.typing-animation{
  animation: blinkCursor 1s steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 11em;
  }

}

@keyframes blinkCursor{
  from {
    border-right-color: var(--title-color);
  }
  to {
    border-right-color: transparent;
  }
}

.first {
  text-align: justify;
}
.form {
  margin: var(--spacing-input) auto 0;
  width: var(--input-width);
  text-align: center;
  padding: 15px 20px;
}

.nova-tarefa, #content, #observa, .nova-tarefa-2, #content-title, #content-progress{
  padding: var(--spacing-top);
  border: none;
  background-color: var(--second-color);
  color: var(--light-color);
}

.start {
    padding: 10px;
    margin-top: 5px;
    border: none;
    background-color: var(--second-color);
    color: var(--light-color);
}

#content, #content-title, #content-progress {
  width: 25vw;
  height: 30px;
  margin: 5px 0;
  font-family: var(--font-body);
  font-size: var(--input-font-size);
  padding-left: 10px;
  outline:none; /* remove a borda no adc tarefa*/
}

#observa {
  width: 25vw;
  height: 90px;
  font-family: var(--font-body);
  font-size: var(--input-font-size);
  padding-left: 10px;
}

.nova-tarefa{
cursor: pointer;
shape-outside: circle();
clip-path: circle();
width: 3rem;
}

nav, .inicial, .title-head, label {
  font-family: var(--font-body);
  color: var(--light-color );
  text-transform: uppercase;
  text-align: center;
}
.inicial {
  letter-spacing: 2px;
  text-decoration: none;
  padding: 0.25em 0.5em;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  margin: auto;
  width: 25vw;
  font-size: 10px;
}

.nav-link{
  color: var(--title-color);
  text-shadow: -1px 0px 1px var(--light-color);
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 0.5rem;
}

.pagination a {
  color: var(--light-color);
  padding: 8px 16px;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: var(--second-color);
  color: var(--light-color);
}

.pagination a:hover:not(.active) {
  background-color: var(--second-color);
}

.flashes {
  padding: 12px;
  border-radius: 3px;
  background-color: darkkhaki;
  color: black;
  margin-top: 15px;
  margin-bottom: 16px;
  opacity: 0.5;
}

.btn_close {
  margin-left: 20px;
  font-weight: bold;
  line-height: 15px;
  color: black;
  float: right;
}

.botoes{
  width: 50%;
  padding: 10px;
}

.title-head{
  background-color: var(--second-color);
  border-radius: 0 0 5px 5px;
  padding: 5px;
}
