{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}
<div class="content">
    <div class="form">
        <form action="{{ url_for('insert') }}" method="POST">
            <label>Qual é o seu nome?</label>
            <input type="text" name="created_by" id="content" placeholder="Qual é o seu nome..." autofocus required>
            <input type="text" name="content" id="content" placeholder="Crie sua primeira tarefa..." required>
            <input type="submit" class="start" value="Diga Olá" title="Começar">
        </form>
    </div>
</div>
{% endblock %}
