{% extends 'base.html' %}
{% include 'header.html' %}

{% block head %} 
<title>Lembre-Me - Home</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 id="content-title" class="typing-animation">Lembro-me de que? 💬</h1>
    <!-- Form cadastro de Tarefa -->
    <div class="form">
        <form action="{{ url_for('insert') }}" method="POST">
            <input type="text" name="content" id="content" placeholder="Crie uma tarefa..." required>
            <input type="submit" class="nova-tarefa" value="+" title="Criar Tarefa">
        </form>
    </div><br>
    
    {% if tasks|length < 1 %}
    <div class="inicial">Sem tarefas por aqui. Crie algumas agora!</div>
    {% else %}

    <table>
        <tr>
            <th>Tarefa</th>
            <th>Data Criação</th>
            <th>Data Finalização</th>
            <th>Data Prioridade</th>
            <th>Progresso</th>
            <th>Prioridade</th>
            <th>Ação</th>
            <th>Observação</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td class="first">{{ task.content }}</td>
            <td>{{ task.dt_inicio.date() }}</td>
            {% if task.dt_final %}
                <td>{{ task.dt_final }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if task.dt_priority %}
                <td>{{ task.dt_priority }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td>{{ task.progress }}</td>
            {% if task.priority %}
                <td><a href="/priority/unpriority/{{ task.id }}"><img src="/static/images/checked.svg" title="Priorizado" onclick="return confirm('Remover prioridade?')"></a></td>
            {% else %}
                <td><a href="/priority/{{ task.id }}"><img src="/static/images/unchecked.svg" title="Priorizar" onclick="return confirm('Deseja priorizar essa Tarefa?')"></a></td>
            {% endif %}
            <td>
                <a href="/update/{{ task.id }}"><img src="/static/images/botao_editar.svg" title="Editar"></a>
                <a href="/delete/{{ task.id }}"><img src="/static/images/botao_excluir.svg" title="Excluir" onclick="return confirm('Deseja excluir essa Tarefa?')"></a>
            </td>
            {% if task.observa %}
                <td>{{ task.observa }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <!-- Paginador -->
    <div class="center">
        <div class="pagination">
            {% if pagination.has_prev %}
                <a href="/?page={{ pagination.prev_num }}">&raquo;</a>
            {% else %}
            <a>&laquo;</a>
            {% endif %}
    
            {% for page_num in pagination.iter_pages() %}
            {% if page_num %}
            {% if page_num != pagination.page %}
                <a href="/?page={{ page_num }}">{{ page_num }}</a>
            {% else %}
                <a>{{ page_num }}</a>
            {% endif %}
            {% else %}
                <a>...</a>
            {% endif %}
            {% endfor %}
    
            {% if pagination.has_next %}
                <a href="/?page={{ pagination.next_num }}">&raquo;</a>
            {% else %}
                <a>&laquo;</a>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div><br>
{% endblock %}