{% extends 'base.html' %}
{% include 'header.html' %}

<title>{{ title }}</title>

{% block body %}

<div class="title-head">Atualize sua tarefa! 💬</div>
<div class="content">

    <div class="form">
        <form action="/update/{{ task.id }}" method="POST">

        <label for="content-title">Título da tarefa</label>
        <input type="text" name="content" id="content-title" value="{{ task.content }}" placeholder="Edite sua tarefa..." required>

        <label for="content-progress">Status da Tarefa</label>
        <select name="progress" id="content-progress">
            <option value="">-- Status --</option>
            {% for status in fl_status %}
                <option value="{{ status }}">{{ status }}</option>
            {% endfor %}
        </select>

        <label for="observa">Observação:</label>
        {% if task.observa %}
        <textarea name="observa" id="observa" maxlength="200">{{ task.observa }}</textarea>
        {% else %}
        <textarea name="observa" id="observa" maxlength="200" placeholder="Inclua uma observação..."></textarea>
        {% endif %}
        <div class="botoes"><input class="nova-tarefa" type="submit" value="+" title="Atualizar" onclick="return confirm('Tem certeza que deseja alterar essa Tarefa?')">
        <a href="{{ url_for('index') }}"><button class="nova-tarefa" type="button" title="Voltar"><</button></a></div>
        </form>
    </div>
</div>
{% endblock %}
